body
{
    margin: 0;
    padding: 0;
}
.heading {
  @include text-hide;
}
.container {
  position: absolute;
  left: 100%;
  right: 20%;
  top: 30%;
  bottom: 30%;
  transform: translate(-50%, -50%);
}



